<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>button_exit.png</key>
		<dict>
			<key>x</key>
			<real>336</real>
			<key>y</key>
			<real>202</real>
			<key>width</key>
			<real>38</real>
			<key>height</key>
			<real>36</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>64</real>
			<key>originalHeight</key>
			<real>64</real>
		</dict>
		
		<key>button_start.png</key>
		<dict>
			<key>x</key>
			<real>394</real>
			<key>y</key>
			<real>40</real>
			<key>width</key>
			<real>114</real>
			<key>height</key>
			<real>52</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>128</real>
			<key>originalHeight</key>
			<real>64</real>
		</dict>
		
		<key>button_whistle.png</key>
		<dict>
			<key>x</key>
			<real>283</real>
			<key>y</key>
			<real>153</real>
			<key>width</key>
			<real>52</real>
			<key>height</key>
			<real>114</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>64</real>
			<key>originalHeight</key>
			<real>128</real>
		</dict>
		
		<key>button_world_ranking.png</key>
		<dict>
			<key>x</key>
			<real>196</real>
			<key>y</key>
			<real>153</real>
			<key>width</key>
			<real>86</real>
			<key>height</key>
			<real>28</real>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>128</real>
			<key>originalHeight</key>
			<real>64</real>
		</dict>
		
		<key>credit_01.png</key>
		<dict>
			<key>x</key>
			<real>1</real>
			<key>y</key>
			<real>119</real>
			<key>width</key>
			<real>232</real>
			<key>height</key>
			<real>16</real>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>512</real>
			<key>originalHeight</key>
			<real>16</real>
		</dict>
		
		<key>credit_02.png</key>
		<dict>
			<key>x</key>
			<real>230</real>
			<key>y</key>
			<real>136</real>
			<key>width</key>
			<real>216</real>
			<key>height</key>
			<real>16</real>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>512</real>
			<key>originalHeight</key>
			<real>16</real>
		</dict>
		
		<key>credit_03.png</key>
		<dict>
			<key>x</key>
			<real>234</real>
			<key>y</key>
			<real>119</real>
			<key>width</key>
			<real>230</real>
			<key>height</key>
			<real>16</real>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>512</real>
			<key>originalHeight</key>
			<real>16</real>
		</dict>
		
		<key>credit_04.png</key>
		<dict>
			<key>x</key>
			<real>1</real>
			<key>y</key>
			<real>136</real>
			<key>width</key>
			<real>228</real>
			<key>height</key>
			<real>16</real>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>512</real>
			<key>originalHeight</key>
			<real>16</real>
		</dict>
		
		<key>credit_05.png</key>
		<dict>
			<key>x</key>
			<real>1</real>
			<key>y</key>
			<real>153</real>
			<key>width</key>
			<real>194</real>
			<key>height</key>
			<real>16</real>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>512</real>
			<key>originalHeight</key>
			<real>16</real>
		</dict>
		
		<key>d_test_01.png</key>
		<dict>
			<key>x</key>
			<real>196</real>
			<key>y</key>
			<real>236</real>
			<key>width</key>
			<real>32</real>
			<key>height</key>
			<real>24</real>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-35</real>
			<key>originalWidth</key>
			<real>128</real>
			<key>originalHeight</key>
			<real>128</real>
		</dict>
		
		<key>d_test_02.png</key>
		<dict>
			<key>x</key>
			<real>394</real>
			<key>y</key>
			<real>93</real>
			<key>width</key>
			<real>30</real>
			<key>height</key>
			<real>24</real>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-35</real>
			<key>originalWidth</key>
			<real>128</real>
			<key>originalHeight</key>
			<real>128</real>
		</dict>
		
		<key>fade_color_0001.png</key>
		<dict>
			<key>x</key>
			<real>478</real>
			<key>y</key>
			<real>1</real>
			<key>width</key>
			<real>32</real>
			<key>height</key>
			<real>32</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>32</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>icon_1st.png</key>
		<dict>
			<key>x</key>
			<real>229</real>
			<key>y</key>
			<real>182</real>
			<key>width</key>
			<real>28</real>
			<key>height</key>
			<real>26</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>32</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>icon_2nd.png</key>
		<dict>
			<key>x</key>
			<real>196</real>
			<key>y</key>
			<real>182</real>
			<key>width</key>
			<real>32</real>
			<key>height</key>
			<real>26</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<real>32</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>icon_3nd.png</key>
		<dict>
			<key>x</key>
			<real>196</real>
			<key>y</key>
			<real>209</real>
			<key>width</key>
			<real>32</real>
			<key>height</key>
			<real>26</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<real>32</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>icon_4nd.png</key>
		<dict>
			<key>x</key>
			<real>336</real>
			<key>y</key>
			<real>239</real>
			<key>width</key>
			<real>32</real>
			<key>height</key>
			<real>26</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>32</real>
			<key>originalHeight</key>
			<real>32</real>
		</dict>
		
		<key>icon_human.png</key>
		<dict>
			<key>x</key>
			<real>229</real>
			<key>y</key>
			<real>209</real>
			<key>width</key>
			<real>26</real>
			<key>height</key>
			<real>34</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<real>64</real>
			<key>originalHeight</key>
			<real>64</real>
		</dict>
		
		<key>icon_look.png</key>
		<dict>
			<key>x</key>
			<real>258</real>
			<key>y</key>
			<real>211</real>
			<key>width</key>
			<real>22</real>
			<key>height</key>
			<real>30</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<real>64</real>
			<key>originalHeight</key>
			<real>64</real>
		</dict>
		
		<key>icon_watch.png</key>
		<dict>
			<key>x</key>
			<real>258</real>
			<key>y</key>
			<real>182</real>
			<key>width</key>
			<real>24</real>
			<key>height</key>
			<real>28</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<real>64</real>
			<key>originalHeight</key>
			<real>64</real>
		</dict>
		
		<key>numbering_03.png</key>
		<dict>
			<key>x</key>
			<real>1</real>
			<key>y</key>
			<real>1</real>
			<key>width</key>
			<real>476</real>
			<key>height</key>
			<real>38</real>
			<key>offsetX</key>
			<real>-7</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>512</real>
			<key>originalHeight</key>
			<real>64</real>
		</dict>
		
		<key>string_01.png</key>
		<dict>
			<key>x</key>
			<real>1</real>
			<key>y</key>
			<real>40</real>
			<key>width</key>
			<real>392</real>
			<key>height</key>
			<real>78</real>
			<key>offsetX</key>
			<real>26</real>
			<key>offsetY</key>
			<real>3</real>
			<key>originalWidth</key>
			<real>512</real>
			<key>originalHeight</key>
			<real>128</real>
		</dict>
		
		<key>test_01_01.png</key>
		<dict>
			<key>x</key>
			<real>336</real>
			<key>y</key>
			<real>153</real>
			<key>width</key>
			<real>42</real>
			<key>height</key>
			<real>48</real>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-12</real>
			<key>originalWidth</key>
			<real>128</real>
			<key>originalHeight</key>
			<real>128</real>
		</dict>
		
		<key>test_02_01.png</key>
		<dict>
			<key>x</key>
			<real>118</real>
			<key>y</key>
			<real>268</real>
			<key>width</key>
			<real>38</real>
			<key>height</key>
			<real>88</real>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>3</real>
			<key>originalWidth</key>
			<real>128</real>
			<key>originalHeight</key>
			<real>128</real>
		</dict>
		
		<key>test_02_02.png</key>
		<dict>
			<key>x</key>
			<real>40</real>
			<key>y</key>
			<real>268</real>
			<key>width</key>
			<real>38</real>
			<key>height</key>
			<real>88</real>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>3</real>
			<key>originalWidth</key>
			<real>128</real>
			<key>originalHeight</key>
			<real>128</real>
		</dict>
		
		<key>test_02_03.png</key>
		<dict>
			<key>x</key>
			<real>157</real>
			<key>y</key>
			<real>170</real>
			<key>width</key>
			<real>38</real>
			<key>height</key>
			<real>88</real>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>3</real>
			<key>originalWidth</key>
			<real>128</real>
			<key>originalHeight</key>
			<real>128</real>
		</dict>
		
		<key>test_02_04.png</key>
		<dict>
			<key>x</key>
			<real>79</real>
			<key>y</key>
			<real>268</real>
			<key>width</key>
			<real>38</real>
			<key>height</key>
			<real>88</real>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>3</real>
			<key>originalWidth</key>
			<real>128</real>
			<key>originalHeight</key>
			<real>128</real>
		</dict>
		
		<key>test_02_05.png</key>
		<dict>
			<key>x</key>
			<real>1</real>
			<key>y</key>
			<real>268</real>
			<key>width</key>
			<real>38</real>
			<key>height</key>
			<real>88</real>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>3</real>
			<key>originalWidth</key>
			<real>128</real>
			<key>originalHeight</key>
			<real>128</real>
		</dict>
		
		<key>test_02_06.png</key>
		<dict>
			<key>x</key>
			<real>1</real>
			<key>y</key>
			<real>170</real>
			<key>width</key>
			<real>38</real>
			<key>height</key>
			<real>88</real>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>3</real>
			<key>originalWidth</key>
			<real>128</real>
			<key>originalHeight</key>
			<real>128</real>
		</dict>
		
		<key>test_02_07.png</key>
		<dict>
			<key>x</key>
			<real>418</real>
			<key>y</key>
			<real>153</real>
			<key>width</key>
			<real>38</real>
			<key>height</key>
			<real>88</real>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>3</real>
			<key>originalWidth</key>
			<real>128</real>
			<key>originalHeight</key>
			<real>128</real>
		</dict>
		
		<key>test_02_08.png</key>
		<dict>
			<key>x</key>
			<real>118</real>
			<key>y</key>
			<real>170</real>
			<key>width</key>
			<real>38</real>
			<key>height</key>
			<real>88</real>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>3</real>
			<key>originalWidth</key>
			<real>128</real>
			<key>originalHeight</key>
			<real>128</real>
		</dict>
		
		<key>test_02_09.png</key>
		<dict>
			<key>x</key>
			<real>457</real>
			<key>y</key>
			<real>153</real>
			<key>width</key>
			<real>38</real>
			<key>height</key>
			<real>88</real>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>3</real>
			<key>originalWidth</key>
			<real>128</real>
			<key>originalHeight</key>
			<real>128</real>
		</dict>
		
		<key>test_02_10.png</key>
		<dict>
			<key>x</key>
			<real>379</real>
			<key>y</key>
			<real>153</real>
			<key>width</key>
			<real>38</real>
			<key>height</key>
			<real>88</real>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>3</real>
			<key>originalWidth</key>
			<real>128</real>
			<key>originalHeight</key>
			<real>128</real>
		</dict>
		
		<key>test_02_11.png</key>
		<dict>
			<key>x</key>
			<real>40</real>
			<key>y</key>
			<real>170</real>
			<key>width</key>
			<real>38</real>
			<key>height</key>
			<real>88</real>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>3</real>
			<key>originalWidth</key>
			<real>128</real>
			<key>originalHeight</key>
			<real>128</real>
		</dict>
		
		<key>test_02_12.png</key>
		<dict>
			<key>x</key>
			<real>79</real>
			<key>y</key>
			<real>170</real>
			<key>width</key>
			<real>38</real>
			<key>height</key>
			<real>88</real>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>3</real>
			<key>originalWidth</key>
			<real>128</real>
			<key>originalHeight</key>
			<real>128</real>
		</dict>
		
	</dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
</dict>
</plist>